body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #094179; 
  color: #fff; 
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

h1 {
  margin: 0;
}

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0 10px; 
  border-radius: 30px;
  background-color: #e3f0ff;
}

.search-bar {
  background-color: #e3f0ff;
  padding: 8px;
  border-radius: 30px;
  border: none;
  outline: none;
  width: 300px;
}

#search-b{
  background-image: url(search.png);
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  padding-left: 16px;
  background-size: contain;
}

.menu-button {
  font-size: 30px;
  cursor: pointer;
}

.make-plan-button {
  background-color: #e3f0ff;
  color: #001f3f;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 13px;
}

.delete-plan-button {
  background-color: #e3f0ff;
  color: #001f3f;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 13px;
}

.page-top {
  display: flex;
  justify-content: space-between;
}
.profile-title {
  font-family: Noto Serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  margin-left:75px;
  margin-right: 50px;
  display: inline-block;
  vertical-align: middle;
}

h2 {
  margin-right: 10px; 
}

.user-info-box {
  width: 400px;
  min-width: fit-content;
  height: 125px;
  margin-right: 200px;
  text-align: left;
  background: #e3f0ff;
  display: inline-block;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

ul {  /** user info text **/
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #094179;
  font-weight: 600;
}

li {
  margin-bottom: 10px;
  font-size: 20px;
}

.bottom-center {
  margin: 0;
  position: absolute;
  top: 90%;
  left: 45%;
  -ms-transform: translateY(-90%, -45%);
  transform: translateY(-90%, -45%);
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.edit-button {
  width: 75px;
  border: 1px solid #000;
  position: relative;
}

#plans-box {
  margin: 50px ;
  margin-left: 0px;
  margin-top: -5px;
  padding: 25px;
  width: 900px;
  overflow:auto; 
  flex-shrink: 0;
  background: #ffffff;
  border: 2px solid #001f3f;
  order: 2;
  align-items: center;
}

h4 {
  font-size: 40px;
  margin-left: 30px;
  margin-top: 20px;
  font-family: Noto Serif;
  font-style: normal;
  font-weight: 400;
  margin-bottom: -10px;
  display: inline-block;
  color: black;
}

h6 {
  font-size: 20px;
  margin-right: 30px;
  margin-top: 20px;
  font-family: Noto Serif;
  font-style: normal;
  font-weight: 400;
  display: inline-block;
}



.tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin-left: 50px ;
  margin-bottom: -75px;
  padding: 10px;
}

/** code for tabs borrowed from https://www.youtube.com/watch?v=oLqdy95LZSw **/
.tabs input[type="radio"] {
  display: none;
}

.tabs label {
  padding: 25px;
  background: #e3f0ff;
  font-weight: bold;
}

.tabs .takes-box {
  width: 100%;
  padding: 20px;
  background: #fff;
  order: 1;
  display:none;
}


.tabs input[type='radio']:checked + label + .takes-box .singleplan {
  display: block;
}

.tabs input[type='radio']:checked+label {
  background: rgb(109, 171, 229);
}

.singleplan {
  display: block;
  margin: 20px ;
  width: 800px;
  height: 300px;
  text-align: left;
  background: #fff;
  border: 1px solid #001f3f;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  color: black;
}

.sort-results-header {
  display: flex;
  justify-content: space-between;
}

.sort-results-button button {
  background-color: #e3f0ff;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin-left: 30px;
  display: inline-block;
  border: 1px solid #000;
  vertical-align: middle;
}

.sort-results-button a{
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
}

.sort-dropdown {
  display: block;
  background-color: #e3f0ff;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
  margin-left: 20px;
  border-radius: 20px;
}

.sort-results-button .sort-categories {
  display: none;
  background-color: #e3f0ff;
  position: absolute;
  min-width: 100px;
  border-radius: 20px;
  border: 1px solid #000;
  border-radius: 20px;
}

.sort-results-button:hover .sort-categories {
  display:block;
  margin-left: 30px;
}

#results-text {
  display: inline-block;
  text-align: right;
  margin-right: 30px;
}

.filters {
  margin-top: 20px;
  margin-bottom: -30px;
  display: flex;
  justify-content: center;
}

.dropdown1 {
  margin-left: 20px;
  margin-right: 20px;
  width: 180;
  font-size: 20;
}

.dropdown2 {
  margin-left: 20px;
  margin-right: 20px;
  width: 180;
  font-size: 20;
}

#search-body {
  margin: 5% auto;
  padding: 30px 110px;
  width: 833px;

  flex-shrink: 0;
  text-align: left;
  background: #e3f0ff;
  align-items: center;
}

.plan-info {
  display: flex;
  background-color: #e3f0ff;
  color: black;
  border: 1px solid #000;
  width: 700px;
  margin-left: 30px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}

h7 {  /** plan author **/
  display: inline-block;
  margin-right: 30px;
  margin-top: 30px;
  color: #094179;
  font-weight: 600;
}


.menu-item {
  flex: 1;
  padding: 7px;
  text-align: center;
  cursor: pointer;
  border-right: 1px solid black; /* Add a border between items */
}

h5 {
  font-size: 25px;
  margin-left: 30px;
  margin-top: 20px;
  font-family: Noto Serif;
  font-style: normal;
  font-weight: 400;
  margin-bottom: -10px;
  color: black;
}

.description-box {
  margin-left: 30px; /* Adjust padding as needed */
  margin-right: 40px;
  padding: 10px;
  padding-right: 20px;
  padding-bottom: 20px;
  width: 600px;
  flex-shrink: 0;
  text-align: left;
  background: #e3f0ff;
  overflow: hidden; /* Hide overflowing content */
  height: 60px;
  display: inline-block;
  color: black;
}

.images-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -90px;
  margin-right: -650px;
}

.counts{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.count {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
  margin-bottom: 10px;
  margin-left: 5px;
  color: black;
}


.images {
  margin-bottom: 10px;
  width: 30px;
  display: inline-block;
}

.likes-container {
  display: inline-block;
  font-size: 30px;
}

.tags-group {
  display: flex;
  flex-direction: row;
  margin-right: 50px;
  text-align: right;
  justify-content: flex-end;
}

.tags {
  margin-right: 5px;
  color: #094179;
  font-weight: 600;
  display: inline-block;
}

a {
  text-decoration: none;
  color: #094179;
}

.plan-page-title {
  font-family: Noto Serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  margin-left:25px;
  margin-right: 50px;
  display: inline-block;
  vertical-align: middle;
}

.plan-info-header {
  display: block;
  background-color: #e3f0ff;
  color: black;
  border: 1px solid #000;
  width: 700px;
  margin-top: 10px;
}

h8  {  /** plan on plan pg author **/
  display: inline-block;
  margin-left: 30px;
  margin-top: 0px;
  color: #094179;
  font-weight: 600;
}

.plan-body {
  display: flex;
  background-color: #E3F0FF; 
  width: 700px;
  height: 300px;
  padding:20px;
  margin-right: 30px;
  margin-left: 30px;
  padding: 100px 80px;
  align-items: center;
  
}

.table-entry {
  padding:0;
  margin:2;
  width:96px;
  height:36px;
  background-color: transparent;
  border:none;
  word-wrap: break-word;
  word-break: break-all;
}

input{
  background-color: #FFFFFF;
  width: 180;
  height:25;
  margin-top: 10;
  margin-left:30;
  font-size: 14;
  

}

input#table-entry {
  padding:0;
  margin:2;
  width:96px;
  height:36px;
  background-color: transparent;
  border:none;
  word-wrap: break-word;
    word-break: break-all;
}

.table {
  border: 1px solid;
  border-color: #005CA1; 
  margin-left: 30px;
  width: 200px;
  border-collapse: collapse;
  table-layout: fixed;
  
  display: inline;
  margin-top:0px;
}

.semester-row {
  justify-content: space-between; 
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  margin-right: 30px;
}

th {
  background-color: #005CA1; 
  color: #FFFFFF;
  font-weight: normal;
  height:20px;
}

.interactions-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
  margin-top: 20px;
  margin-right: 10px;
}

.interactions {
  width: 30px;
  display: inline-block;
  font-size: 30px;
  margin-right: 5px;
}

.comment-box {
  display: block;
  width: 800px;
  height: 150px;
  border: 2px solid #001f3f;
  margin-left: 30px;
  position: relative;
  align-items: center;
  overflow:scroll; 
}

.prev-comments {
  overflow:auto; 
}

.comment-bar-container {
  display: flex;
  margin-left: 30px;
  justify-content: space-between; 
  padding: 0 20px; 
  border: 2px solid #001f3f;
  width: 700px;
  position: absolute;
  bottom:10px;
  margin-bottom: -450px;
}

.comment-input-box {
  padding: 8px;
  border-radius: 30px;
  border: none;
  outline: none;
  width: 300px;

  /**
  padding: 8px;
  border-radius: 30px;
  border: none;
  outline: none;
  width: 300px; */
}

.comment {
  text-align: left;
  margin: 30px;
  margin-bottom: -5px;
}

.comment-author {
  text-align: right;
  color: #094179;
  font-weight: 600;
  margin-right: 10px;
}

#suggested-title{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: -40px;
}


div#banner { 
  
  top: 0; 
  background-color: #005CA1; 
  width: 100%; 
  height: 50px;
}
div#banner-content { 
  width: 100%;
  
  padding: 10px; 
  height: 50px;
  
}

input#search {
 border-radius: 25px;
 padding: 5px;
 background-color: #E3F0FF; 
 margin-left: 30%;
 margin-top: 0;
 
 
 background-image: url("/static/search.png");
 
 text-indent: 20px;
 
}
button {
 background-color: transparent;
 border: none;
}

button#makeplan {
 background-color: #E3F0FF; 
 right: 20px;
 height: 25px;
 width: 100px;
 float: right;
 position: relative;
 right: 30px;
 font-size: 13;
 font-weight: bold;
 
}

img {
 height: 30px;
 width: 40px;
}
.img{
 float: left;
 left: 30px;
}

/*Banner styles end*/

div#main { 
  padding: 30px;
  padding-left: 60px;
  padding-right: 60px;
  margin-right: 60px;
}

div#main-content { 
  background-color: #E3F0FF; 
  height: fit-content;
  width: 100%;
  padding:30px;
  margin-right: 30px;
  
}

p#title{
 font-size: 25px;
 font-weight: bold;
 text-align: center;
 padding-bottom: 20px;
}

input{
 background-color: #FFFFFF;
 width: 180px;
 height:25px;
 margin-top: 10px;
 margin-left:30px;
 font-size: 14px;
 
}


label {
 padding-left: 30px;
}
label#major {
 padding-left: 155px;
}
label#tags {
 padding-left: 170px;
}
select {
 width: 180px;
 font-size: 20px;
 margin-left: 30px;
 margin-top: 10px;
}

input#tags {
 margin-left: 30px;
 
}
input#plan-form {
 display: inline-block; 
 text-align: left;
}
input#desc-inp {
 width: 100%;
 margin-right: 30px;
 height: 100px;
 line-height: 10px;
}
textarea {
 background-color: #FFFFFF;
 
 margin-top: 10px;
 margin-left:30px;
 font-size: 14;
 width: calc(100% - 60px);
 margin-right: 30px;
 height: 100px;
 border: none;
}

table {
 border: 1px solid;
 border-color: #005CA1; 
 margin-left: 30px;
 width: 200px;
 border-collapse: collapse;
 table-layout: fixed;
 
 display: inline;
 margin-top:0px;
}

th {
 background-color: #005CA1; 
 color: #FFFFFF;
 font-weight: normal;
 height:20px;
}

td {
 border: 1px solid;
 border-color: #005CA1; 
 border-collapse: collapse;
 width: auto;
 height:40px;
}

textarea[name="reason-entry"] {
  padding: 0 12;
  margin: 0 -14 0 2;
  width:96px;
  height:36px;
  background-color: transparent;
  border:none;
  word-wrap: break-word;
  word-break: break-all;
  text-wrap: wrap;
  outline: none;
}

div#tableline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px 
}

input[name="class-entry"] {
  padding:0;
  margin:2px;
  width:96px;
  height:36px;
  background-color: transparent;
  border:none;
  word-wrap: break-word;
  word-break: break-all;
  outline: none;
 }
 

button#plus {
 
 float: right; 
 
 margin-right: 30px;
}
img#plus{
 height:40px;
 width:40px;
}


button#submit {
 background-color: #005CA1; 
 color: #FFFFFF; 
 width: 150px;
 height: 30px;
 float: left;
 margin-left: 30px;
}

.nav {
  background: #005CA1;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  transition: transform 0.7s, opacity 1s;
  transform: translateX(-100%);
  opacity: 0;
  color: #ffffff;
}

.nav.show {
  transform: translateX(0%);
  opacity: 1;
  z-index: 1;
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav .list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.nav .list li {
  margin: 1.5rem auto;
  font-size: 1.25rem;
  color: white;
}

.hamburger {
  position: relative;
  margin-left: auto;
  width: 45px;
  height: 35px;
  z-index: 1;
}

.hamburger span {
  position: absolute;
  left: 0;
  background: #ffffff;
  width: inherit;
  height: 5px;
  transition: transform 0.5s, opacity 0.5s;
}

.top-line {
  top: 0px;
}

.center-line {
  top: 15px;
}

.bottom-line {
  bottom: 0px;
}

.top-line.active {
  transform: translateY(15px) rotate(45deg);
}

.center-line.active {
  opacity: 0;
}

.bottom-line.active {
  transform: translateY(-15px) rotate(-45deg);
}