<html>
<head>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/static/landingpage.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Landing Page</title>
	<link rel="stylesheet" href="/static/styles.css">
    <!-- <style type="text/css" media="screen">

    </style> -->
</head>


<body>
	<header>
        <div class="menu-button">☰</div>
        <div class="search-bar-container">
            <input type="text" placeholder="Search title, tags, description, author, etc... " class="search-bar">
            <div>&nbsp;&nbsp;&nbsp;</div>
			<input id="search-b" type="button" value="search">
        </div>
        <button class="make-plan-button">Make Plan</button>
    </header>
	<div id="main">
  		<p id=title>Welcome to Graduation Planner!</p>
    	<div id="main-options" >
    		<span id = "links">
    			<button type="button" id="suggested-button">Find Suggested Plans</button>
    			<button type="button" id="profile-button">View Profile</button>
    			<button type="button" id="options">Create New Plan</button>
    		</span>
    	</div>
    	<br>
    	<br>
    	<div id= "suggested-plans">
    		<br>
    		
    		<label id= "find-pop">Popular Columbia Graduation Plans</label>
    		<div id= "grid-container"> 
    			
    		</div>
    	</div>
    </div>
</body>
</html>
    