<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<script src="makeplan.js"></script> 
    <title>Make Page</title>
	<link rel="stylesheet" href="styles2.css">

</head>



<body>
	<header>
        <div class="menu-button">☰</div>
        <div class="search-bar-container">
            <input id="search-b" type="button">
            <input type="text" placeholder="Search title, tags, description, author, etc... " class="search-bar">
        </div>
        <button class="make-plan-button">Make Plan</button>
    </header>
  
  <!-- Banner html ends-->
  <div id="main">
	<!---->
	<form name = "makeplan" action="#" method="POST">
  	<p id=title>Make Plan</p>
    <div id="main-content" >
    	<div id= "plan-name"> 
    		<label>Plan Name</label>
    		<br>
    		<input id="plan-form" name="plan-form" type="text"></input>
    	</div>
    	<br>
    	
    	<div id ="dropdown-line">
    		<!--<span id = "college">College</span>
    		<span id = "major">Major</span>
    		<span id= "tags">Tags</span>-->
    		
    		<label id="college">College:</label> 
    		<label id="major">Major:</label> 
    		<label id="tags">Tags:</label>
    		
    		<br>
    		<select id="colleges"> 
    			<option value="null"></option> 
    			<option value="Columbia College">Columbia College</option> 
    			<option value="SEAS">SEAS</option> 
        		<option value="Barnard College">Barnard College</option> 
        		<option value="General Studies">General Studies</option> 
    		</select>
    		
    		<select id="majors"> 
    			<option value="null"></option> 
    			<option value="Computer Science">Computer Science</option> 
    			<option value="Psychology">Psychology</option> 
        		<option value="Economics">Economics</option> 
        		<option value="Math">Math</option> 
        		<option value="Political Science">Political Science</option> 
        		<option value="Sustainable Development">Sustainable Development</option> 
        		<option value="English">English</option> 
        		<option value="Biology">Biology</option> 
    		</select>
    		
    		<input id="tag" type="text"></input>
    	</div> 
    	<br>
    	<div>
    		<label id="desc">Plan Description:</label>
    		<br>
    		<textarea id="desc-inp"></textarea>
    	</div>
    	<br>
    	<div>
    		<label id="start">Starting Semester:</label>
    		<br>
    		<select id="starts"> 
    			<option value="null"></option> 
    			<option value="1">1</option> 
    			<option value="2">2</option> 
        		<option value="3">3</option> 
        		<option value="4">4</option> 
        		<option value="5">5</option> 
        		<option value="6">6</option> 
        		<option value="7">7</option> 
        		<option value="8">8</option> 
    		</select>
    	</div>
    	<br>
    	<br>
    	<div id="tableline">
    	<table id = "original-table" name = "class-table">
  			<tr>
    			<th>Class</th>
    			<th>Reason</th> 
  			</tr>
  			<tr>
    			<td><input type="text" name="class-entry"></td>
    			<td><input type="text" name="reason-entry"/></td> 
  			</tr>
  			<tr>
    			<td><input type="text" name="class-entry"></td>
    			<td><input type="text" name="reason-entry"/></td> 
  			</tr>
  			<tr>
    			<td><input type="text" name="class-entry"></td>
    			<td><input type="text" name="reason-entry"/></td> 
  			</tr>
  			<tr>
    			<td><input type="text" name="class-entry"></td>
    			<td><input type="text" name="reason-entry"/></td> 
  			</tr>
  			<tr>
    			<td><input type="text" name="class-entry"></td>
    			<td><input type="text" name="reason-entry"/></td> 
  			</tr>
		</table>
		
		<button type = "button" id = "plus" onClick="addTable()"><img id="plus" src= "../static/plusicon.png"></button>
		</div>
		
		<br>
		<br>
		<br>
		<br>
		<div>
			<button type = "submit" id = "submit" onClick="submitPlan(this.form)">Submit</button>
			
		</div>
    </div>
	</form>
  </div>
</body>
</html>