<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles2.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/static/hamburger.js"></script>
    <script src="/static/profile.js"></script>
    <title>Search Banner</title>
</head>

<body>
    <header>
        <div>
            <nav id="js-nav" class="nav">
                <ul class="list">
                  <li><a href="{{ url_for('template_route', path='landingpage')}}">Home</a></li>
                  <li><a href="{{ url_for('template_route', path='profile')}}">Profile</a></li>
                  <li><a href="{{ url_for('template_route', path='login')}}">Logout</a></li>
                </ul>
              </nav>
              <button id="js-hamburger" class="hamburger" type="button">
                <span id="js-top-line" class="top-line"></span>
                <span id="js-center-line" class="center-line"></span>
                <span id="js-bottom-line" class="bottom-line"></span>
              </button>
            </div>
        <div class="search-bar-container">
            <input id="search-b" type="button">
            <input type="text" placeholder="Search title, tags, description, author, etc... " class="search-bar">
        </div>
        <button class="make-plan-button"><a href="{{ url_for('template_route', path='makeplan')}}">Make Plan</a></button>
    </header>
    <!-- Loader part -->
    <div class="spinner-border" role="status" id="profileLoader">
        <span class="sr-only">Loading...</span>
    </div>
    <div id="page-top">
    </div>
    <div class="tabs">
        <input type="radio" id="personaltab" name="tabs" checked="checked">
        <label for="personaltab">Personal Plans</label>
<!--         <div class="takes-box">
        </div> -->

        <input type="radio" id="likedtab" name="tabs">
        <label for="likedtab">Liked Plans</label>
        <div id="plans-box">
            <div class="spinner-border" role="status" id="planLoader">
                <span class="sr-only">Loading...</span>
            </div>
            <!-- <br> REMEMBER TO ADD BREAK IN LIST -->

        </div>


    </div>




    <div class="takes-box"></div>
</body>

</html>