<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles2.css">
    <title>Search Banner</title>
</head>
<body>
    <header>
        <div class="menu-button">☰</div>
        <div class="search-bar-container">
            <input type="text" placeholder="Search title, tags, description, author, etc... " class="search-bar">
            <input id="search" type="button" value="search" onClick="search_func()">
        </div>
        <button class="make-plan-button">Make Plan</button>
    </header>

    <div class="page-top">
        <div class = "sort-results-button">
            <button class="sort-by-dropdown">Sort by:</button>
            <div class="sort-categories">
                <a href="">Popular</a>
                <a href="">Date Uploaded</a>
                <a href="">Relevance</a>
            </div>
        </div>
        <div class="results-text">1-4 of 32 results for "first year"</div>
    </div>
    <hr>
    

    <div class ="filters">
        <span>Filter by: </span>
        <!-- <label id="college">College:</label> -->
        <select class="dropdown">
            <option value="null"></option> 
            <option value="cc">Columbia College</option> 
            <option value="seas">SEAS</option> 
            <option value="bc">Barnard College</option> 
            <option value="GS">General Studies</option> 
        </select>
        <!-- <label id="major">Major:</label>  -->
        <select class="dropdown"> 
            <option value="null"></option> 
            <option value="cs">Computer Science</option> 
            <option value="psy">Psychology</option> 
            <option value="ecn">Economics</option> 
            <option value="mth">Math</option> 
            <option value="plsc">Political Science</option> 
            <option value="susdev">Sustainable Development</option> 
            <option value="eng">English</option> 
            <option value="bio">Biology</option> 
        </select>
    </div> 
    <br>

    <div class="search-body">
        <div class="singleplan">
            <div class="sort-results-header">
                <h4>Chill First Year</h4>
                <h7>Nigel K</h7>
            </div>
            <br>
            <div class="plan-info">
                <div class="menu-item">School</div>
                <div class="menu-item">Major</div>
                <div class="menu-item">Semesters</div>
            </div>
            <h5>Description...</h5>
            <br>
            <div class="description-box"> text goes here...
            </div>
            <div class="images-container">
                <div class="counts"><img class="images" src="/static/heart.png"/> 
                    <div class="count">20</div></div>
                 
                    <div class="counts"><img class="images" src="/static/comment.png"/> <div class="count">3</div> </div>
            </div>
            <br>
            <div class="tags-group"> 
                <div class="tags"> <a href=""> #chill </a></div> 
                <div class="tags"> <a href="">#freshman</a></div>
            </div>
        </div>
        <br>
        <div class="singleplan">
            <div class="sort-results-header">
                <h4>Chill First Year</h4>
                <h7>Nigel K</h7>
            </div>
            <br>
            <div class="plan-info">
                <div class="menu-item">School</div>
                <div class="menu-item">Major</div>
                <div class="menu-item">Semesters</div>
            </div>
            <h5>Description...</h5>
            <br>
            <div class="description-box"> text goes here...
            </div>
            <div class="images-container">
                <div class="counts"><img class="images" src="/static/heart.png"/> 
                    <div class="count">20</div></div>
                 
                    <div class="counts"><img class="images" src="/static/comment.png"/> <div class="count">3</div> </div>
            </div>
            <br>
            <div class="tags-group"> 
                <div class="tags"> <a href=""> #chill </a></div> 
                <div class="tags"> <a href="">#freshman</a></div>
            </div>
        </div>
        <br>
        <div class="singleplan">
            <div class="sort-results-header">
                <h4>Chill First Year</h4>
                <h7>Nigel K</h7>
            </div>
            <br>
            <div class="plan-info">
                <div class="menu-item">School</div>
                <div class="menu-item">Major</div>
                <div class="menu-item">Semesters</div>
            </div>
            <h5>Description...</h5>
            <br>
            <div class="description-box"> text goes here...
            </div>
            <div class="images-container">
                <div class="counts"><img class="images" src="/static/heart.png"/> 
                    <div class="count">20</div></div>
                 
                    <div class="counts"><img class="images" src="/static/comment.png"/> <div class="count">3</div> </div>
            </div>
            <br>
            <div class="tags-group"> 
                <div class="tags"> <a href=""> #chill </a></div> 
                <div class="tags"> <a href="">#freshman</a></div>
            </div>
        </div>
        <br>
        <div class="singleplan">
            <div class="sort-results-header">
                <h4>Chill First Year</h4>
                <h7>Nigel K</h7>
            </div>
            <br>
            <div class="plan-info">
                <div class="menu-item">School</div>
                <div class="menu-item">Major</div>
                <div class="menu-item">Semesters</div>
            </div>
            <h5>Description...</h5>
            <br>
            <div class="description-box"> text goes here...
            </div>
            <div class="images-container">
                <div class="counts"><img class="images" src="/static/heart.png"/> 
                    <div class="count">20</div></div>
                 
                    <div class="counts"><img class="images" src="/static/comment.png"/> <div class="count">3</div> </div>
            </div>
            <br>
            <div class="tags-group"> 
                <div class="tags"> <a href=""> #chill </a></div> 
                <div class="tags"> <a href="">#freshman</a></div>
            </div>
        </div>
    </div>
    </div>







    
</body>
</html>
