body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #094179; 
  color: #fff; 
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

h1 {
  margin: 0;
}

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0 20px; 
}

.search-bar {
  padding: 8px;
  border-radius: 30px;
  border: none;
  outline: none;
  width: 300px;
}

.search-button {
  background-color: #fff;
  color: #001f3f;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.menu-button {
  font-size: 30px;
  cursor: pointer;
  /**display: inline-block;
  align-items: left;**/
}

.make-plan-button {
  background-color: #e3f0ff;
  color: #001f3f;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

#page-top {
  display: flex;
  justify-content: space-between;
}
.profile-title {
  font-family: Noto Serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  margin-left:75px;
  margin-right: 50px;
  display: inline-block;
  vertical-align: middle;
}

h2 {
  margin-right: 10px; 
}

.user-info-box {
  width: 300px;
  height: 125px;
  margin-right: 200px;
  text-align: left;
  background: #e3f0ff;
  display: inline-block;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

ul {  /** user info text **/
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #094179;
  font-weight: 600;
}

li {
  margin-bottom: 10px;
  font-size: 20px;
}

.bottom-center {
  margin: 0;
  position: absolute;
  top: 90%;
  left: 45%;
  -ms-transform: translateY(-90%, -45%);
  transform: translateY(-90%, -45%);
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.edit-button {
  width: 75px;
  border: 1px solid #000;
  position: relative;
}

#plans-box {
  margin: 50px ;
  margin-left: 0px;
  margin-top: -5px;
  padding: 25px;
  width: 900px;
  overflow:auto; 
  flex-shrink: 0;
  background: #ffffff;
  border: 2px solid #001f3f;
  order: 2;
  align-items: center;
}

h4 {
  font-size: 40px;
  margin-left: 30px;
  margin-top: 20px;
  font-family: Noto Serif;
  font-style: normal;
  font-weight: 400;
  margin-bottom: -10px;
  display: inline-block;
}

h6 {
  font-size: 20px;
  margin-right: 30px;
  margin-top: 20px;
  font-family: Noto Serif;
  font-style: normal;
  font-weight: 400;
  display: inline-block;
}



.tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin-left: 50px ;
  margin-bottom: -75px;
  padding: 10px;
}

/** code for tabs borrowed from https://www.youtube.com/watch?v=oLqdy95LZSw **/
.tabs input[type="radio"] {
  display: none;
}

.tabs label {
  padding: 25px;
  background: #e3f0ff;
  font-weight: bold;
}

.tabs .takes-box {
  width: 100%;
  padding: 20px;
  background: #fff;
  order: 1;
  display:none;
}


.tabs input[type='radio']:checked + label + .takes-box .singleplan {
  display: block;
}

.tabs input[type='radio']:checked+label {
  background: rgb(109, 171, 229);
}

.singleplan {
  display: block;
  margin: 20px ;
  width: 800px;
  height: 300px;
  text-align: left;
  background: #fff;
  border: 1px solid #001f3f;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.sort-results-header {
  display: flex;
  justify-content: space-between;
}

.sort-results-button button {
  background-color: #e3f0ff;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin-left: 30px;
  display: inline-block;
  border: 1px solid #000;
  vertical-align: middle;
}

.sort-results-button a{
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
}

.sort-results-button .sort-categories {
  display: none;
  background-color: #e3f0ff;
  position: absolute;
  min-width: 100px;
  border-radius: 20px;
  border: 1px solid #000;
  border-radius: 20px;
}

.sort-results-button:hover .sort-categories {
  display:block;
  margin-left: 30px;
}

#results-text {
  display: inline-block;
  text-align: right;
  margin-right: 30px;
}

.filters {
  margin-top: 20px;
  margin-bottom: -30px;
  display: flex;
  justify-content: center;
}

.dropdown1 {
  margin-left: 20px;
  margin-right: 20px;
  width: 180;
  font-size: 20;
}

.dropdown2 {
  margin-left: 20px;
  margin-right: 20px;
  width: 180;
  font-size: 20;
}

#search-body {
  margin: 5% auto;
  padding: 30px 110px;
  width: 833px;

  flex-shrink: 0;
  text-align: left;
  background: #e3f0ff;
  align-items: center;
}

.plan-info {
  display: flex;
  background-color: #e3f0ff;
  color: black;
  border: 1px solid #000;
  width: 700px;
  margin-left: 30px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}

h7 {  /** plan author **/
  display: inline-block;
  margin-right: 30px;
  margin-top: 30px;
  color: #094179;
  font-weight: 600;
}


.menu-item {
  flex: 1;
  padding: 7px;
  text-align: center;
  cursor: pointer;
  border-right: 1px solid black; /* Add a border between items */
}

h5 {
  font-size: 25px;
  margin-left: 30px;
  margin-top: 20px;
  font-family: Noto Serif;
  font-style: normal;
  font-weight: 400;
  margin-bottom: -10px;
}

.description-box {
  margin-left: 30px; /* Adjust padding as needed */
  margin-right: 40px;
  padding: 10px;
  padding-right: 20px;
  padding-bottom: 20px;
  width: 600px;
  flex-shrink: 0;
  text-align: left;
  background: #e3f0ff;
  overflow: hidden; /* Hide overflowing content */
  height: 60px;
  display: inline-block;
}

.images-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -90px;
  margin-right: -650px;
}

.counts{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.count {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
  margin-bottom: 10px;
  margin-left: 5px;
}


.images {
  margin-bottom: 10px;
  width: 30px;
  display: inline-block;
}

.likes-container {
  display: inline-block;
  font-size: 30px;
}

.tags-group {
  display: flex;
  flex-direction: row;
  margin-right: 50px;
  text-align: right;
  justify-content: flex-end;
}

.tags {
  margin-right: 5px;
  color: #094179;
  font-weight: 600;
  display: inline-block;
}

a {
  text-decoration: none;
  color: #094179;
}

.plan-page-title {
  font-family: Noto Serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  margin-left:25px;
  margin-right: 50px;
  display: inline-block;
  vertical-align: middle;
}

.plan-info-header {
  display: block;
  background-color: #e3f0ff;
  color: black;
  border: 1px solid #000;
  width: 700px;
  margin-top: 10px;
}

h8  {  /** plan on plan pg author **/
  display: inline-block;
  margin-left: 30px;
  margin-top: 0px;
  color: #094179;
  font-weight: 600;
}

.plan-body {
  display: block;
  background-color: #E3F0FF; 
  width: 700px;
  height: 300px;
  padding:20px;
  margin-right: 30px;
  margin-left: 30px;
  padding: 80px;
  align-items: center;
  display: inline-block;
}

.table-entry {
  padding:0;
  margin:2;
  width:96px;
  height:36px;
  background-color: transparent;
  border:none;
  word-wrap: break-word;
  word-break: break-all;
}

input{
  background-color: #FFFFFF;
  width: 180;
  height:25;
  margin-top: 10;
  margin-left:30;
  font-size: 14;
  

}

input#table-entry {
  padding:0;
  margin:2;
  width:96px;
  height:36px;
  background-color: transparent;
  border:none;
  word-wrap: break-word;
    word-break: break-all;
}

.table {
  border: 1px solid;
  border-color: #005CA1; 
  margin-left: 30px;
  width: 200px;
  border-collapse: collapse;
  table-layout: fixed;
  
  display: inline;
  margin-top:0px;
}

.semester-row {
  justify-content: space-between; 
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  margin-right: 30px;
}

td {
  border: 1px solid;
  border-color: #005CA1; 
  border-collapse: collapse;
  width: auto;
  height:40px;
}

th {
  background-color: #005CA1; 
  color: #FFFFFF;
  font-weight: normal;
  height:20px;
}

td {
  border: 1px solid;
  border-color: #005CA1; 
  border-collapse: collapse;
  width: auto;
  height:40px;
}
.interactions-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
  margin-top: 20px;
  margin-right: 10px;
}

.interactions {
  width: 30px;
  display: inline-block;
  font-size: 30px;
  margin-right: 5px;
}

.comment-box {
  display: block;
  width: 800px;
  height: 150px;
  border: 2px solid #001f3f;
  margin-left: 30px;
  position: relative;
  align-items: center;
}

.comment-bar-container {
  display: flex;
  margin-left: 30px;
  justify-content: space-between; 
  padding: 0 20px; 
  border: 2px solid #001f3f;
  width: 700px;
  position: absolute;
  bottom:10;
}

.comment {
  text-align: left;
  margin: 30px;
  margin-bottom: -5px;
}

.comment-author {
  text-align: right;
  color: #094179;
  font-weight: 600;
  margin-right: 10px;
}