<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles2.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="suggested.js"></script>
    <title>Search Banner</title>
</head>
<body>
    <header>
        <div class="menu-button">☰</div>
        <div class="search-bar-container">
            <input type="text" placeholder="Search title, tags, description, author, etc... " class="search-bar">
            <input id="search-b" type="button" value="search">
        </div>
        <button class="make-plan-button">Make Plan</button>
    </header>
    
    <div id=suggested-title>Suggested Plans</div>

    <div id="search-body">
        
    </div>
