<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles2.css">
    <script src="/static/hamburger.js"></script>
    <script src="/static/viewplan.js"></script> 
    <title>View Plan</title>
</head>
<body>
    <header>
      <div>
        <nav id="js-nav" class="nav">
			<ul class="list">
			  <li><a href="{{ url_for('template_route', path='landingpage')}}">Home</a></li>
			  <li><a href="{{ url_for('template_route', path='profile')}}">Profile</a></li>
			  <li><a href="{{ url_for('template_route', path='login')}}">Logout</a></li>
			</ul>
		  </nav>
		  <button id="js-hamburger" class="hamburger" type="button">
			<span id="js-top-line" class="top-line"></span>
			<span id="js-center-line" class="center-line"></span>
			<span id="js-bottom-line" class="bottom-line"></span>
		  </button>
		</div>
      <div class="search-bar-container">
          <input id="search-b" type="button">
          <input type="text" placeholder="Search title, tags, description, author, etc... " class="search-bar">
      </div>
      <button class="make-plan-button">Make Plan</button>
    </header>
    <div class="page-top">
        <div id = "plan-name" class="plan-page-title">Chill First Year</div>
        <div class="plan-info">
            <div id = "school-name" class="menu-item">School</div>
            <div id = "major_name" class="menu-item">Major</div>
            
        </div>
    </div>
    <div class="page-top">
       <h8 id = "author-name">Nigel K</h8>
       <div class="tags-group"> 
            <div id = "tags" class="tags"> <a href=""> #chill </a></div> 
            <!--<div class="tags"> <a href="">#freshman</a></div>-->
        </div>
    </div>
    <h5>Description...</h5>
    <br>
    <div id = "description" class="description-box"> text goes here...</div>
    <br>
    <br>
    <br>
    <div class="plan-body">
        <div id = "semester-row" class="semester-row">
        <!--<div id="tableline">
            
            <text>Freshman Fall</text>

            <table>
                  <tr>
                    <th>Class</th>
                    <th>Reason</th> 
                  </tr>
                  <tr>
                    <td><input type="text" id="table-entry"></td>
                    <td><input type="text" id="table-entry"/></td> 
                  </tr>
                  <tr>
                    <td><input type="text" id="table-entry"></td>
                    <td><input type="text" id="table-entry"/></td> 
                  </tr>
                  <tr>
                    <td><input type="text" id="table-entry"></td>
                    <td><input type="text" id="table-entry"/></td> 
                  </tr>
                  <tr>
                    <td><input type="text" id="table-entry"></td>
                    <td><input type="text" id="table-entry"/></td> 
                  </tr>
                  <tr>
                    <td><input type="text" id="table-entry"></td>
                    <td><input type="text" id="table-entry"/></td> 
                  </tr>
            </table>
        </div>
        <div id="tableline">
            <text>Freshman Spring</text>
            <table>
                  <tr>
                    <th>Class</th>
                    <th>Reason</th> 
                  </tr>
                  <tr>
                    <td><input type="text" id="table-entry"></td>
                    <td><input type="text" id="table-entry"/></td> 
                  </tr>
                  <tr>
                    <td><input type="text" id="table-entry"></td>
                    <td><input type="text" id="table-entry"/></td> 
                  </tr>
                  <tr>
                    <td><input type="text" id="table-entry"></td>
                    <td><input type="text" id="table-entry"/></td> 
                  </tr>
                  <tr>
                    <td><input type="text" id="table-entry"></td>
                    <td><input type="text" id="table-entry"/></td> 
                  </tr>
                  <tr>
                    <td><input type="text" id="table-entry"></td>
                    <td><input type="text" id="table-entry"/></td> 
                  </tr>
            </table> -->
        </div>
        </div>
        
    </div>
    <div class="interactions-container">
            <img class="interactions" src="/static/heart.png"/> <text id = "likes">20 </text>
            <img class="interactions" src="/static/comment.png"/><text id = "comments" >20</text>
    </div>
    <br>
    <br>
    <div id = "comments" class="comment-box">
        <div id = "prev-comments"class="prev-comments"> 
            <!-- <div class="comment"> I did this exact schedule and it was great! It helped me take time to make friends!</div> -->
        </div>
        <!-- <div class="comment-author">Miira E</div> -->
        <hr>
        <div class="comment-bar-container">
            <input type="text" placeholder="Make comment..." class="search-bar">
            <!--<a href="link address"><img src="search.jpeg" height= 30px; width=30px;></a>-->
        </div>
    </div>
    <br>
    <br>
    
</body>
</html>

