<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles2.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/static/hamburger.js"></script>
    <script src="/static/viewplan.js"></script> 
    <title>View Plan</title>
</head>
<body>
    <header>
      <div>
        <nav id="js-nav" class="nav">
			<ul class="list">
			  <li><a href="{{ url_for('template_route', path='landingpage')}}">Home</a></li>
			  <li><a href="{{ url_for('template_route', path='profile')}}">Profile</a></li>
			  <li><a href="{{ url_for('template_route', path='login')}}">Logout</a></li>
			</ul>
		  </nav>
		  <button id="js-hamburger" class="hamburger" type="button">
			<span id="js-top-line" class="top-line"></span>
			<span id="js-center-line" class="center-line"></span>
			<span id="js-bottom-line" class="bottom-line"></span>
		  </button>
		</div>
      <div class="search-bar-container">
          <input id="search-b" type="button">
          <input type="text" placeholder="Search title, tags, description, author, etc... " class="search-bar">
      </div>
      <button class="make-plan-button"><a href="{{ url_for('template_route', path='makeplan')}}">Make Plan</a></button>
    </header>
    <div class="page-top">
        <div id = "plan-name" class="plan-page-title"></div>
        <div class="plan-info">
            <div id = "school-name" class="menu-item"></div>
            <div id = "major_name" class="menu-item"></div>
            
        </div>
    </div>
    <div class="page-top">
       <h8 id = "author-name"></h8>
       <div class="tags-group"> 
            <div id = "tags" class="tags"> <a href=""></a></div> 
            <!--<div class="tags"> <a href="">#freshman</a></div>-->
        </div>
    </div>
    <h5>Description...</h5>
    <br>
    <div id = "description" class="description-box"> </div>
    <br>
    <br>
    <br>
    <div class="plan-body">
        <div id = "semester-row" class="semester-row">
        </div>
        </div>
        
    </div>
    <div class="interactions-container">
            <img class="interactions" src="/static/heart.png"/> <text id = "likes"> </text>
            <div>&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <img class="interactions" src="/static/comment.png"/><text id = "comments" ></text>
    </div>
    <br>
    <br>
    <div id = "comments" class="comment-box">
        <div id = "prev-comments"class="prev-comments"> 
        </div>
        <hr>
        <div class="comment-bar-container">
            <input type="text" placeholder="Make comment..." class="search-bar">
        </div>
    </div>
    <br>
    <br>
    
</body>
</html>

